<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a href="#" data-ng-click="setCurrency('EXCC')" data-ng-class="{active: currency.symbol == 'EXCC'}">EXCC</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('mEXCC')" data-ng-class="{active: currency.symbol == 'mEXCC'}">mEXCC</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('exels')" data-ng-class="{active: currency.symbol == 'exels'}">exels</a>
  </li>
</ul>

